scientific_name: Pogonus chalceus
taxid: 235516
reads_path:"/scratch/leuven/357/vsc35707/chalceus/pacbio/GC157810.fasta"
reads_layout: SINGLE
reads_type: PacBio HiFi
pacbio_barcode_file:"/scratch/leuven/357/vsc35707/decontamination/pacbio_adaptors.fa"
pacbio_barcode_names: "bc2041"
kmer_length: 31
dimensionality_reduction_methods:"pca","random_trees"
nt_database_path:"/scratch/leuven/357/vsc35707/decontamination/nt/"
nt_database_prefix: "nt"
nt_kraken_database_path: path + prefix to the Kraken database made from NCBI nt database sequences
ncbi_ranked_lineage_path: path to NCBI ranked lineage file (e.g. "/taxdump/rankedlineage.dmp")
busco_lineages_folder:"/scratch/leuven/357/vsc35707/decontamination/busco_dbs/"
busco_lineages: "archaea_odb12,bacteria_odb12,coleoptera_odb12,eukaryota_odb12,fungi_odb12,mammalia_odb12"
fcs_gx_database_path: path to the directory containing the FCS-GX database. Should end with a trailing slash
vecscreen_database_path: "/scratch/leuven/357/vsc35707/decontamination/vecscreen_adaptors_for_screening_euks.fa"
diamond_uniprot_database_path: path to a Diamond database made from Uniprot protein sequences ("uniprot_reference_proteomes_with_taxonnames.dmnd"). The database needs to have built-in taxonomy
diamond_nr_database_path: path to a Diamond database made from NCBI nr protein sequences ("nr.dmnd"). The database needs to have built-in taxonomy
seqkit_sliding: 100000
seqkit_window: 6000
n_neighbours: 13

// The below params can have values of ['both','genomic','organellar','off'] unless the default value here is 'genomic', in that case their values are ONLY ['genomic','off']
// These flags control which proccesses are run in any particular run of the pipeline.
run_essentials: "genomic"
run_kmers: "genomic"
run_tiara: "genomic"
run_coverage: "genomic"
run_nt_blast: "genomic"
run_nr_diamond: "genomic"
run_uniprot_diamond: "genomic"
run_kraken: "genomic"
run_fcsgx: "genomic"
run_fcs_adaptor: "genomic"
run_vecscreen: "genomic"
run_btk_busco: "genomic"
run_pacbio_barcodes: "genomic"
run_organellar_blast: "genomic"
run_autofilter_assembly: "genomic"
run_create_btk_dataset: "genomic"
run_merge_datasets: "genomic"
